.p-18{
  padding: 4rem;
}
.px-12{
  padding-left: 3rem;
  padding-right: 3rem
}
.pb-12{
  padding-bottom: 3rem
}
.p-8{
  padding: 2rem
}
.p-6{
  padding: 1.5rem;
}
.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem
}
.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}
.py-2{
  padding-top: 0.75rem;
  padding-bottom: .75rem
}
.p-1{
  padding: 0.5rem;
}

.pt-18{
  padding-top: 4rem;
}


.mt-3{
  margin-top: 1rem;
}
.ml-2{
  margin-left: 0.5rem;
}
